body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.HeaderLogo {
    margin-top: 5px;
    width: 70px;
}

header {
    background-color: #ffcb00;
    display: flex;
    margin-left: -10px;
    margin-top: -10px;
    width: 100.4%;
    padding: 5px;
}

ul {
    text-align: center;
    margin-right: 40px;
}

.names {
    margin-top: 50px;
    font-size: 20px;
}

@media (max-width: 1919px) {
    .HeaderTitle {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .TextP {
        margin-left: 16%;
    }
}
